{
  "presets": [
    "flow",
    [
      "env",
      {
        "debug": true,
        "targets": {
          "node": 8
        }
      }
    ],
    "minify"
  ],
  "plugins": [
    "transform-class-properties",
    ["transform-remove-console", { "exclude": ["error", "warn"] }]
  ]
}
